.weather-app {
  max-width: 550px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 20px 5px 5px 5px;
  padding: 10px 0px 10px 0px;
}

.weather-app form {
  margin-left: 15px;
  margin-right: 25px;
}

.weather-info {
  margin: 10px 10px;
  padding: 5px 5px;
}

.weather-info h1 {
  font-size: x-large;
  margin: 1px 0px 0px 0px;
}

.description {
  display: inline-block;
}

.description::first-letter {
  text-transform: capitalize;
}

.weather-info ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.weather-info li strong {
  font-weight: 500;
}

.weather-info .humidity {
  color: #5f5f5f;
}

.weather-info .wind {
  color: #5f5f5f;
}

.temperature-container .unit {
  position: relative;
  top: 20px;
}

.temperature-container .TemperatureValue {
  font-weight: 600;
  font-size: 60px;

}

.temperature-container {
  padding-right: 10px;
}

.temperature-container img {
  max-width: 90px;
}

.weather-forecast {
  margin: 30px;
}

.temperature-container .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.temperature-container .active:hover {
  text-decoration: none;
}

footer {
  font-size: small;
  color: dimgray;
  margin: 0px 3px;
}