.weather-app {
  max-width: 600px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 20px 5px 5px 5px;
  padding: 10px 0px 10px 0px;
}

.weather-app form {
  margin-left: 15px;
  margin-right: 25px;
  max-width: 600px;
}

.weather-info {
  margin: 10px 10px;
  padding: 5px 5px;
}

.weather-info h1 {
  font-size: x-large;
  margin: 1px 0px 0px 0px;
}

.description {
  display: inline-block;
}

.description::first-letter {
  text-transform: capitalize;
}

.weather-info ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.weather-info li strong {
  font-weight: 500;
}

.temperature-container .unit {
  position: relative;
  line-height: 1;
  top: 10px;
}

.temperature-container .TemperatureValue {
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
}

.weather-forecast {
  margin: 30px;
}

footer {
  font-size: small;
  color: dimgray;
  margin: 0px 3px;
}